In [24]:
# !pip install sqlalchemy
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.10.tar.gz (385 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.10-cp310-cp310-linux_x86_64.whl size=167125 sha256=e1285ee942adbe575d75f86a28c8e25919ee497269031a1f3eb539775e3de4c4
  Stored in directory: /home/zeus/.cache/pip/wheels/51/41/e0/2912ad51b01f454d26dfb26e5cc5923874656749b9e83943a8
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10

In [6]:
# Check Pandas 

print(pd.__version__)

2.1.4

In [10]:
import pandas as pd
import gzip
from sqlalchemy import create_engine

In [7]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz

--2025-01-24 10:36:14--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250124T103614Z&X-Amz-Expires=300&X-Amz-Signature=76ed1d1c8f4f078cc8e05569204f222ec64cdf5067cdba8c1665123d7fbdec6a&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-01-24 10:36:14--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250124T103614Z&X-Amz-Expires=300&X-Amz-Signature=76ed1d1c8f4f078cc8e05569204f222ec64cdf5067cdba8c1665123d7fbdec6a&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-10.csv.gz’

green_tripdata_2019 100%[===================>]   7.88M  --.-KB/s    in 0.03s

2025-01-24 10:36:14 (277 MB/s) - ‘green_tripdata_2019-10.csv.gz’ saved [8262584/8262584]

In [8]:
! wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2025-01-24 10:36:31--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250124T103631Z&X-Amz-Expires=300&X-Amz-Signature=ef30c4573db2bee7e384d9014e9400a962cb726f88d99bf9c697c98784464fc6&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2025-01-24 10:36:31--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250124T103631Z&X-Amz-Expires=300&X-Amz-Signature=ef30c4573db2bee7e384d9014e9400a962cb726f88d99bf9c697c98784464fc6&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2025-01-24 10:36:31 (115 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [34]:
 file_path = "/teamspace/studios/this_studio/module-1/lesson-2/green_tripdata_2019-10.csv.gz"

 with gzip.open(file_path, "rb") as file:
    df = pd.read_csv(file)


df.head()

/tmp/ipykernel_23357/4077832265.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

In [14]:
df.to_csv("green_taxi_data.csv", index=False)

In [17]:
print(pd.io.sql.get_schema(df, name="green_taxi_data"))

CREATE TABLE "green_taxi_data" (
"VendorID" REAL,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [19]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [22]:
print(pd.io.sql.get_schema(df, name="green_taxi_data"))

CREATE TABLE "green_taxi_data" (
"VendorID" REAL,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [27]:


# Define PostgreSQL connection details
db_config = {
    "user": "postgres",
    "password": "postgres",
    "host": "localhost",  # Use the host of your PostgreSQL database
    "port": "5433",       # Adjust the port if different
    "database": "ny_taxi"
}

# Create the connection string
connection_string = f"postgresql://{db_config['user']}:{db_config['password']}@{db_config['host']}:{db_config['port']}/{db_config['database']}"

# Create a SQLAlchemy engine
engine = create_engine(connection_string)

# Read the CSV file into a pandas DataFrame
# csv_file_path = "data.csv"  # Replace with your CSV file path
# df = pd.read_csv(csv_file_path)
# print(pd.io.sql.get_schema(df, name="green_taxi_data", con=engine))

ImportError: /lib/x86_64-linux-gnu/libp11-kit.so.0: undefined symbol: ffi_type_pointer, version LIBFFI_BASE_7.0

In [26]:
# Send the DataFrame to the PostgreSQL database
table_name = "table_green_taxi"  # Replace with your target table name
df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data from {csv_file_path} successfully inserted into the {table_name} table.")

NameError: name 'engine' is not defined

In [28]:
import pandas as pd
import psycopg

In [32]:
# Define PostgreSQL connection details
db_config = {
    "user": "postgres",
    "password": "postgres",
    "host": "localhost",
    "port": "5433",
    "database": "ny_taxi"
}

# Establish connection
conn = psycopg.connect(
    user=db_config["user"],
    password=db_config["password"],
    host=db_config["host"],
    port=db_config["port"],
    dbname=db_config["database"]
)

# Read the CSV file into a pandas DataFrame
csv_file_path = "/teamspace/studios/this_studio/module-1/lesson-2/taxi_zone_lookup.csv"  # Replace with your CSV file path
df = pd.read_csv(csv_file_path)

# Define the table name
table_name = "DIM_taxi_zone"

# Create the table schema based on the DataFrame columns
# Map pandas dtypes to PostgreSQL data types
dtype_mapping = {
    "int64": "BIGINT",
    "float64": "DOUBLE PRECISION",
    "object": "TEXT",
    "datetime64[ns]": "TIMESTAMP",
    "bool": "BOOLEAN"
}

# Generate the CREATE TABLE SQL statement
columns_with_types = []
for column, dtype in df.dtypes.items():
    postgres_type = dtype_mapping.get(str(dtype), "TEXT")  # Default to TEXT if dtype is not mapped
    columns_with_types.append(f"{column} {postgres_type}")

create_table_query = f"""
CREATE TABLE IF NOT EXISTS {table_name} (
    {", ".join(columns_with_types)}
);
"""

# Execute the CREATE TABLE query
cursor = conn.cursor()
cursor.execute(create_table_query)
conn.commit()

# Prepare and execute the INSERT query
columns = ", ".join(df.columns)
placeholders = ", ".join(["%s"] * len(df.columns))

insert_query = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"

# Insert each row from the DataFrame
for row in df.itertuples(index=False, name=None):
    cursor.execute(insert_query, row)

# Commit the changes and close the connection
conn.commit()
cursor.close()
conn.close()

print(f"Table {table_name} created and data from {csv_file_path} successfully inserted.")

Table DIM_taxi_zone created and data from /teamspace/studios/this_studio/module-1/lesson-2/taxi_zone_lookup.csv successfully inserted.

In [31]:
# Filter the DataFrame for the specified date range
start_date = "2019-10-01"
end_date = "2019-11-01"
filtered_df = df[(df["lpep_pickup_datetime"] >= start_date) & (df["lpep_pickup_datetime"] < end_date)]

# Define the distance ranges and count trips in each range
distance_ranges = {
    "up_to_1_mile": filtered_df[filtered_df["trip_distance"] <= 1].shape[0],
    "between_1_and_3_miles": filtered_df[(filtered_df["trip_distance"] > 1) & (filtered_df["trip_distance"] <= 3)].shape[0],
    "between_3_and_7_miles": filtered_df[(filtered_df["trip_distance"] > 3) & (filtered_df["trip_distance"] <= 7)].shape[0],
    "between_7_and_10_miles": filtered_df[(filtered_df["trip_distance"] > 7) & (filtered_df["trip_distance"] <= 10)].shape[0],
    "over_10_miles": filtered_df[filtered_df["trip_distance"] > 10].shape[0]
}

# Convert the results to a DataFrame for better visualization
result_df = pd.DataFrame(list(distance_ranges.items()), columns=["Distance Range", "Number of Trips"])

# Display the result
print(result_df)

           Distance Range  Number of Trips
0            up_to_1_mile           104830
1   between_1_and_3_miles           198995
2   between_3_and_7_miles           109642
3  between_7_and_10_miles            27686
4           over_10_miles            35201

In [33]:
df.columns

Index(['LocationID', 'Borough', 'Zone', 'service_zone'], dtype='object')